In [ ]:
# 2. Для признаков, представленных в наборе определить шкалу измерения.

# Patient_ID              Номинальная
# Age                     Отношений
# Gender                  Номинальная
# Country_Region          Номинальная
# Year                    Интервальная
# Genetic_Risk            Отношений
# Air_Pollution           Отношений
# Alcohol_Use             Отношений
# Smoking                 Отношений
# Obesity_Level           Отношений
# Cancer_Type             Номинальная
# Cancer_Stage            Порядковая
# Treatment_Cost_USD      Отношений
# Survival_Years          Отношений
# Target_Severity_Score   Отношений

In [ ]:
# 1. Загрузить набор данных из репозитория. Свой выбор данных  согласовать с преподавателем.
import pandas as pd

df = pd.read_csv("./data/global_cancer_patients_2015_2024.csv")

print(df.info())

# 3. Выполнить предварительный осмотр данных (пропуски, дубликаты данных).
# print(df.isnull().sum())
# print(df.duplicated().sum())

# 4.  Выполнить очистку данных.
df = df.drop_duplicates()

df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Patient_ID             50000 non-null  object
 1   Age                    50000 non-null  int64
 2   Gender                 50000 non-null  object
 3   Country_Region         50000 non-null  object
 4   Year                   50000 non-null  int64
 5   Genetic_Risk           50000 non-null  float64
 6   Air_Pollution          50000 non-null  float64
 7   Alcohol_Use            50000 non-null  float64
 8   Smoking                50000 non-null  float64
 9   Obesity_Level          50000 non-null  float64
 10  Cancer_Type            50000 non-null  object
 11  Cancer_Stage           50000 non-null  object
 12  Treatment_Cost_USD     50000 non-null  float64
 13  Survival_Years         50000 non-null  float64
 14  Target_Severity_Score  50000 non-null  float64
dtypes: float64(8), int64(2), object(5)
memory usage: 5.7+ MB
None

,Patient_ID,Age,Gender,Country_Region,Year,Genetic_Risk,Air_Pollution,Alcohol_Use,Smoking,Obesity_Level,Cancer_Type,Cancer_Stage,Treatment_Cost_USD,Survival_Years,Target_Severity_Score
0,PT0000000,71,Male,UK,2021,6.4,2.8,9.5,0.9,8.7,Lung,Stage III,62913.44,5.9,4.92
1,PT0000001,34,Male,China,2021,1.3,4.5,3.7,3.9,6.3,Leukemia,Stage 0,12573.41,4.7,4.65
2,PT0000002,80,Male,Pakistan,2023,7.4,7.9,2.4,4.7,0.1,Breast,Stage II,6984.33,7.1,5.84
3,PT0000003,40,Male,UK,2015,1.7,2.9,4.8,3.5,2.7,Colon,Stage I,67446.25,1.6,3.12
4,PT0000004,43,Female,Brazil,2017,5.1,2.8,2.3,6.7,0.5,Skin,Stage III,77977.12,2.9,3.62

In [ ]:
# 5. Отобрать и определить признаки, которые будут использоваться для построения моделей.

important_feat = [
    "Age",
    "Gender",
    "Country_Region",
    "Genetic_Risk",
    "Air_Pollution",
    "Alcohol_Use",
    "Smoking",
    "Obesity_Level",
    "Cancer_Type"
    "Cancer_Stage",
]

numeric_columns = [
    "Age",
    "Genetic_Risk",
    "Air_Pollution",
    "Alcohol_Use",
    "Smoking",
    "Obesity_Level",
    "Treatment_Cost_USD",
    "Survival_Years",
    "Target_Severity_Score",
]


# target = "Survival_Years"
target = "Target_Severity_Score"

In [ ]:
# 6. Привести признаки к одинаковой шкале (масштабирование признаков). Использовать два общих подхода к приведению разных признаков к одинаковой шкале: нормализация и стандартизация.

from sklearn.preprocessing import MinMaxScaler

df_scaled = df.copy()
df_scaled[numeric_columns] = MinMaxScaler().fit_transform(df[numeric_columns])

df_scaled.head()

,Patient_ID,Age,Gender,Country_Region,Year,Genetic_Risk,Air_Pollution,Alcohol_Use,Smoking,Obesity_Level,Cancer_Type,Cancer_Stage,Treatment_Cost_USD,Survival_Years,Target_Severity_Score
0,PT0000000,0.739130,Male,UK,2021,0.64,0.28,0.95,0.09,0.87,Lung,Stage III,0.609616,0.59,0.486683
1,PT0000001,0.202899,Male,China,2021,0.13,0.45,0.37,0.39,0.63,Leukemia,Stage 0,0.079720,0.47,0.453995
2,PT0000002,0.869565,Male,Pakistan,2023,0.74,0.79,0.24,0.47,0.01,Breast,Stage II,0.020887,0.71,0.598063
3,PT0000003,0.289855,Male,UK,2015,0.17,0.29,0.48,0.35,0.27,Colon,Stage I,0.657330,0.16,0.268765
4,PT0000004,0.333333,Female,Brazil,2017,0.51,0.28,0.23,0.67,0.05,Skin,Stage III,0.768181,0.29,0.329298

In [14]:
from sklearn.preprocessing import StandardScaler

df_standardized = df.copy()
df_standardized[numeric_columns] = StandardScaler().fit_transform(df[numeric_columns])

df_standardized.head()

,Patient_ID,Age,Gender,Country_Region,Year,Genetic_Risk,Air_Pollution,Alcohol_Use,Smoking,Obesity_Level,Cancer_Type,Cancer_Stage,Treatment_Cost_USD,Survival_Years,Target_Severity_Score
0,PT0000000,0.819732,Male,UK,2021,0.484555,-0.765181,1.554006,-1.419315,1.281346,Lung,Stage III,0.381762,0.309900,-0.026013
1,PT0000001,-1.009755,Male,China,2021,-1.282754,-0.176614,-0.453790,-0.378208,0.452180,Leukemia,Stage 0,-1.457952,-0.106288,-0.251076
2,PT0000002,1.264742,Male,Pakistan,2023,0.831086,1.000521,-0.903813,-0.100580,-1.689832,Breast,Stage II,-1.662210,0.726089,0.740867
3,PT0000003,-0.713082,Male,UK,2015,-1.144141,-0.730559,-0.073001,-0.517022,-0.791569,Colon,Stage I,0.547417,-1.181443,-1.526433
4,PT0000004,-0.564745,Female,Brazil,2017,0.034065,-0.765181,-0.938430,0.593491,-1.551637,Skin,Stage III,0.932276,-0.730572,-1.109649

Вывод: Почти любому набору данных необходимы нормализация